@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');

body {
    font-family: 'Stick', sans-serif;
    background: url(./img/bg.jpg);
    background-size: cover;
    background-repeat: repeat;
    text-align: center;
    color: whitesmoke;
}

h1 {
    font-size: 40px;
    margin-top: 200px;
    margin-bottom: 0;
}

h4 {
    margin: 0;
}

.exp {
    font-size: 12px;
}

.info {
    font-size: 20px;
    margin-top: 50px;
}
.container {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin: auto;
}

.input {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 18px;
}

.btn {
    height: 25px;
    background: orange;
    border: 1px solid orange;
    border-radius: 5px;
    box-shadow: 0 1px orangered;
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
    margin-left: 15px;
}

.output {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}